:root{
  --client-screen-height : 100vh;
  --scroll-height : 100vh;
}

@media only screen and (max-width: 900px) {
  .ui.secondary.menu .item.search:hover {
    width: 95%;
  }
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
}

/* This is for Background stuff If I decide to implement it */
.background-div{
  width: 100%;
  position: absolute;

}

.background{
  position: relative;
  z-index: -1;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-image: url('/src/Resources/bgTest.jpg') !important;
  background-size: cover !important;
}
.b-background{
  position: fixed;
  background-image: url('/src/Resources/Flower\ background\ test.jpg') !important;
  width: 100%; 
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -3;
}

.back {
background-repeat: repeat-y !important;
background-size: contain !important;
height: var(--scroll-height);
}

.top{
  margin-bottom: 50vh;
}


/* Menu stuff */
/* Seperate menu into 3 parts */
.ui.menu .menu {
  width: 33%;
}

/* Left side of navbar */
.ui.secondary.menu>.navbar-left {
  padding-left: 5vw;
  margin-top: -8vh !important;
  display: flex !important;
}

/* Middle of navbar */
.ui.secondary.menu>.navbar-middle{
  display: block !important;
}
.ui.grid>.middle-nav {
  justify-content: center !important;
}
/* This is for the text */
.middle-item{
  padding-top: 2vh;
  font-size: xx-large;
  font-family: cursive;
}
/* This is for the search bar */
.ui.secondary.menu {
  box-shadow: black !important;
  border: 10px;
}
.ui.secondary.menu .item.search {
  position: relative !important;
  top: 50%;
  transform: translate(0%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}
input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0.5;
  display: none;
  font-size: 1.5em !important;
  border-radius: 20px;
  padding: 0 20px;
}
/* This changes the search button on hover */
.ui.secondary.menu .item.search:hover {
  width: 90%;
  cursor: pointer;
}
.ui.secondary.menu .item.search:hover input {
  display: block !important;
}
.ui.secondary.menu .item.search:hover .search-icon {
  background-color: black;
  color: white;
}

/* Right side of navbar */
.navbar-right {
  padding-right: 5vw;
  margin-top: -8vh !important;
}
/* Icons for the right side of navbar */
.search-icon{
  box-sizing: border-box !important;
  padding: 10px !important;
  width: 35px !important;
  height: 35px !important;
  position: absolute !important;
  right: 0; 
  border-radius: 50%;
  text-align: center;
  font-size:  1.2em !important;
  transform: all 1s !important;
  color: black;
}

.right-item{
  margin-left: 1vw !important;
  margin-right: 0px !important
}
/* This changes the right-most right icon's 
 * margin to be sized appropriatly  */
.right-item:first-of-type{
  margin-left: auto !important;
}

/* Border bottom of navbar */
.navbar-border{
  border:1px groove grey;
}



/* This is for picture card */
/* The pc box */
.ui.card.picture-card{
  width: 250px;
  background-color: transparent;
  box-shadow: none;
  display: inline-flex;
  margin: 10px;
}
.ui.card.picture-card:hover{
  transform: scale(1.1);
}
.ui.card>.image.picture-card-image{
  width: 230px;  
  height: 200px;
  margin: auto;
}
/* This is for semi circle picture */
.ui.card>.image.picture-card-image.semi{
  border-radius: 60px 60px 5px 5px !important;
}
.ui.card>.picture-card-title{
  font-size: x-large;
  margin: 10px;
  text-align: left;
  color: black;
  /* Add custom font family */
}
.ui.card>.picture-card-price {
  text-align: left;
  margin: 0px 10px 10px 10px;
}
.ui.card>.description{
  background-color: white;
  color: black;
}
.ui.card>.button.semi {
  background-color: #d7b5a3;

}

a.picture-card-link{
  color: black;
}

/* This is for the Full Description Card */
/* Left Column */
.ui.grid>.row>.column.fdc-column.left{
  width: 50%;
}
/* Carousel */
.slick-slider{
  position: relative;
  display: flex !important;
  padding: 10px;
}
/* Carousel big image */
.slick-list{
  width: 80%;
}
.carousel-img{
  object-fit: fill;
  height: 80vh;
}

/* Carousel small images */
.slick-dots{
  position: relative !important;
  bottom: 0px !important;
  width: 30% !important;
  display: flex !important;
  justify-content: flex-end !important;
}
.carousel-dots{
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  
}
.slick-dots li:first-of-type{
  margin-top: 0px !important;
}
.slick-dots li{
  padding: 2px !important;
  width: 6vw !important;
  margin: 5px 10px !important;
  height: auto !important;
  display: flex !important;
  border: 3px solid transparent ;
  box-sizing: border-box;
}
.slick-dots li:last-of-type{
  margin-bottom: 0px;
}
/* All actions for dots */
.slick-dots li.slick-active, .slick-dots li:hover{
  border: 3px solid #333;
}

/* Right Column */






#templates{
  height: 200px;
  background-color: transparent;
  /* box-shadow: none; */
}
#template-bottom{
  transform: scaleY(-1);
}
#templates:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.App {
  text-align: center;
}

/* .nav-button{
  background-color: white !important;
} */
