@media only screen and (max-width: 900px) {
  .ui.secondary.menu .item.search:hover {
    width: 95%;
  }
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background-image: url('/src/Resources/bgTest.jpg') !important;
  background-size: cover !important;
  background-repeat: repeat-y !important;
}

.ui.menu .menu {
  width: 33%;
}

.ui.secondary.menu .item.search {
  position: relative !important;
  top: 50%;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  transform: translate(0%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0.5;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.search-icon{
  box-sizing: border-box !important;
  padding: 10px !important;
  width: 35px !important;
  height: 35px !important;
  position: absolute !important;
  right: 0; 
  border-radius: 50%;
  text-align: center;
  font-size:  1.2em !important;
  transform: all 1s !important;
  color: black;
}

.ui.secondary.menu .item.search:hover {
  width: 300px;
  cursor: pointer;
}

.ui.secondary.menu .item.search:hover input {
  display: block;
}

.ui.secondary.menu .item.search:hover .search-icon {
  background-color: black;
  color: white;
}


.App {
  text-align: center;
}

.nav-button{
  background-color: white !important;
}

.right-item {
  margin-left: auto !important;
  margin-right: 0 !important;
}

.ui.grid>.middle-nav {
  justify-content: center !important;
}
.ui.card.picture-card{
  width: 150px;
  background-color: transparent;
  box-shadow: none;
  display: inline-flex;
  margin: 10px;
}

.ui.card>.image.picture-card-image{
  width: inherit;  
  height: 200px;
}
.ui.card>.image.picture-card-image.semi{
  border-radius: 60px 60px 5px 5px !important;
}
.ui.card>.description{
  background-color: white;
}

.ui.card>.button.semi {
  background-color: #d7b5a3;

}


a.picture-card-link{
  color: black;
}

#templates{
  height: 200px;
  background-color: transparent;
  box-shadow: none;
}
#template-bottom{
  transform: scaleY(-1);
}
#templates:hover{
  transform: scale(1.2);
  cursor: pointer;
}